.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
}

.coordinates {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.name {
  border: solid rgba(0, 0, 0, 0.301);
  border-radius: 40px;
  margin-right: 5px;
  padding: 0.5rem;
}

.email {
  border: solid rgba(0, 0, 0, 0.301);
  border-radius: 40px;
  padding: 0.5rem;
}

.phone {
  border: solid rgba(0, 0, 0, 0.301);
  border-radius: 40px;
  margin-bottom: 5px;
  padding: 0.5rem;
}

.message {
  border-radius: 40px;
  margin-bottom: 5px;
  padding: 1em;
  resize: vertical;
}

.btn_form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

button:hover {
  transition: 0.5s;
  background-color: aliceblue;
  color: black;
}

button {
  text-decoration: none;
  border-radius: 100px;
  background-color: black;
  color: aliceblue;
  border-style: none;
  box-shadow: none;
  font-family: "Inter Tight", sans-serif;
  font-size: 0.7rem;
  line-height: 1.3;
  border-width: 2px;
  font-weight: 900;
  font-style: normal;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.459);
  padding: 1.25rem 2rem;
  margin: 0.6rem 0.6rem;
}

.message {
  height: 312px;
}

@media screen and (max-width: 450px) {
  .text_form {
    width: 90%;
  }
}